<% provide(:title, "Sign in")%>
<% provide(:info_bg, asset_path("/assets/about-bg.jpg")) %>
<% content_for :info_header do %>
    <div class="site-heading">
        <h2>Sign in</h2>
    </div>
<% end %>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <%= render 'form' %>
        
        <p>New user? <%= link_to "Sign up now", signup_path %></p>
    </div>
</div>