@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$theme-primary: #0085a1;
$page-font-color: #fafafa;
$white: #fff;
$black: #000;
$transparent-white-8: rgba($white, .8);
$transparent-white-9: rgba($white, .9);

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition-all() {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@mixin serif-font {
  font-family: 'Lora', 'Times New Roman', serif;
}

@mixin sans-serif-font {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Global

body {
  @include serif-font;
  background-color: $page-font-color;
  color: $gray-dark;
  font-size: 20px;
}

// Typography

p {
  line-height: 1.5;
  margin: 30px 0;

  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
  font-weight: 800;
}

a {
  color: $gray-dark;

  &:hover,
  &:focus {
    color: $theme-primary;
  }
}

blockquote {
  color: $gray-light;
  font-style: italic;
}

hr.small {
  border-color: $white;
  border-width: 4px;
  margin: 15px auto;
  max-width: 100px;
}

// Navigation

.navbar-custom {
  @include sans-serif-font;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  .navbar-brand {
    font-weight: 800;
  }

  .navbar-header {
    .navbar-toggle {
      color: $gray-light;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .nav li a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;

    .navbar-brand {
      color: $white;
      padding: 20px;

      &:hover,
      &:focus {
        color: $transparent-white-8;
      }
    }

    .nav li a {
      color: $white;
      padding: 20px;

      &:hover,
      &:focus {
        color: $transparent-white-8;
      }
    }
  }

  @media only screen and (min-width: 1170px) {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // Force Hardware Acceleration in WebKit
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    &.is-fixed {
      // when the user scrolls down, we hide the header right above the viewport
      background-color: $transparent-white-9;
      border-bottom: 1px solid darken($white, 5%);
      position: fixed;
      top: -61px;
      -moz-transition: -moz-transform .3s;
      -webkit-transition: -webkit-transform .3s;
      transition: transform .3s;

      .navbar-brand {
        color: $gray-dark;

        &:hover,
        &:focus {
          color: $theme-primary;
        }
      }

      .nav {
        li {
          a {
            color: $gray-dark;

            &:hover,
            &:focus {
              color: $theme-primary;
            }
          }
        }
      }
    }

    &.is-visible {
      // if the user changes the scrolling direction, we show the header
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

// Header

.intro-header {
  @include background-cover;
  background: no-repeat center center;
  background-attachment: scroll;
  background-color: $gray-light;
  // NOTE: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;

  .site-heading,
  .post-heading,
  .page-heading {
    color: $white;
    padding: 100px 0 50px;

    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }

  .site-heading,
  .page-heading {
    text-align: center;

    h1 {
      font-size: 50px;
      margin-top: 0;
    }

    .subheading {
      @include sans-serif-font;
      display: block;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      margin: 10px 0 0;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }

  .post-heading {
    h1 {
      font-size: 35px;
    }

    .subheading,
    .meta {
      display: block;
      line-height: 1.1;
    }

    .subheading {
      @include sans-serif-font;
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }

    .meta {
      @include serif-font;
      font-size: 20px;
      font-style: italic;
      font-weight: 300;

      a {
        color: $white;
      }
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }

      .subheading {
        font-size: 30px;
      }
    }
  }
}

// Post Preview Pages

.post-preview {
  > a {
    color: $gray-dark;

    &:hover,
    &:focus {
      color: $theme-primary;
      text-decoration: none;
    }

    > .post-title {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    > .post-subtitle {
      font-weight: 300;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  > .post-meta {
    color: $gray-light;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;

    > a {
      color: $gray-dark;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $theme-primary;
        text-decoration: underline;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

// Article list, using in users index, article index and home index
.article-list {
  .section {
    border: 1px solid #edeeee;
    background-color: white;
    border-radius: 3px;
    margin-top: 40px;
    padding: 30px;

    &:hover {
        box-shadow: 0px 1px 12px 0px rgba(48, 57, 66, 0.5);
    }

    .row {
      height: 390px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
  
  .title a {
    color: $black;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-darker;
    }
  }
  
  .subtitle {
    @include serif-font;
    color: $gray-light;
    font-size: 16px;
    font-style: italic;
  }
  
  .updated-time {
    color: $gray-light;
    font-size: 14px;
    margin-right:25px;
  }
  
  .btn {
    padding:10px 18px;
  }
  
  ul {
    list-style: disc;
  }
}

// Articles Show
.content-footer {
  font-size: 12px;
  text-align: right;

  em {
    color: $gray-light;
  }
}

// Comments
.article-comments {
  color: $gray;
  font-size: 15px;

  .count {
    color: $black;
    font-size: 30px;
  }

  h2 {
    color: $black;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

// Sections

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 10px;
  text-align: center;
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 15px;
  padding: 10px 0 15px;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  p {
    font-size: 14px;
    margin: 10px 0;
  }
}

// Contact Form Styles

.floating-label-form-group {
  border-bottom: 1px solid $gray-lighter;
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: .5em;
  position: relative;

  input,
  textarea {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    resize: none;
    z-index: 1;
  }

  label {
    display: block;
    font-size: 0.85em;
    line-height: 1.764705882em;
    margin: 0;
    opacity: 0;
    position: relative;
    top: 2em;
    -moz-transition: top 0.3s ease,opacity .3s ease;
    -ms-transition: top 0.3s ease,opacity .3s ease;
    -webkit-transition: top 0.3s ease,opacity .3s ease;
    transition: top 0.3s ease,opacity .3s ease;
    z-index: 0;
  }

  &:not(:first-child) {
    border-left: 1px solid $gray-lighter;
    padding-left: 14px;
  }
}

.floating-label-form-group-with-value {
  label {
    opacity: 1;
    top: 0;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $theme-primary;
  }
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid $gray-lighter;
}

// Button Styles

.btn {
  @include sans-serif-font;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  //border-radius: 0;
  padding: 15px 25px;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $theme-primary;
    border: 1px solid $theme-primary;
    color: $white;
  }
}

textarea.form-control {
    //border-radius: 0;
}

// Pager Styling

.pager {
  margin: 20px 0 0;

  li {
    > a,
    > span {
      @include sans-serif-font;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      background-color: white;
      border-radius: 0;
    }

    > a:hover,
    > a:focus {
      color: white;
      background-color: $theme-primary;
      border: 1px solid $theme-primary;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $gray-light;
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }
}

// Highlight Color Customization

::-moz-selection {
  color: white;
  text-shadow: none;
  background: $theme-primary;
}

::selection {
  color: white;
  text-shadow: none;
  background: $theme-primary;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

textarea {
    resize: none;
}

ol {
  list-style: none;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}

.info_header_placeholder {
  background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  height: 60px;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    border-top: 1px solid $gray-lighter;
    padding: 10px 0;
    text-align: center;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    .btn {
      margin: auto;
    }
  }

  .gravatar {
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    margin: auto;
    width: 62px;

    img {
      margin: 4px;
      border-radius: 4px;
    }

    &:hover {
      box-shadow: 0px 1px 12px 0px rgba(48, 57, 66, 0.5);
      border: 1px solid white;
    }
  }
}

.user-info {
  font-size: 18px;

  h1 {
    font-size: 25px;
    letter-spacing: -1px;
    margin: 30px 0 15px;
  }
}

.stats {
  font-size: 15px;
  overflow: auto;

  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    width: 50%;
    
    &:first-child {
      border: 0;
    }
    
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  strong {
    display: block;
    font-size: 18px;
  }
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
}

/* forms */
.field_with_errors {
    width:100%;
}

/* Users index */
.user-list {
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */
.all_articles {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}
.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}