@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$theme-primary: #0085a1;
$theme-primary-light: lighten($theme-primary, 10%);
$page-font-color: #fafafa;
$white: #fff;
$black: #000;
$transparent-white-8: rgba($white, .8);
$transparent-white-9: rgba($white, .9);
$shadow-color: rgba(48, 57, 66, .5);

@mixin box-sizing {
  @include prefixer(box-sizing, border-box, webkit moz spec);
}

@mixin background-cover() {
  @include prefixer(background-size, cover, webkit moz o spec);
}

@mixin serif-font {
  font-family: 'Lora', 'Times New Roman', serif;
}

@mixin sans-serif-font {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Global

body {
  @include serif-font;
  background-color: $page-font-color;
  color: $gray-dark;
  font-size: 20px;
  -webkit-tap-highlight-color: $theme-primary;
}

// Typography

p {
  line-height: 1.5;
  margin: 30px 0;

  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
  font-weight: 800;
}

a {
  color: $theme-primary-light;

  &:hover,
  &:focus {
    color: $theme-primary;
  }
}

blockquote {
  color: $gray-light;
  font-style: italic;
}

.smallhr {
  border-color: $white;
  border-width: 4px;
  margin: 15px auto;
  max-width: 100px;
}

// Navigation

.navbar-custom {
  @include sans-serif-font;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  .navbar-brand {
    font-weight: 800;
  }

  .navbar-header {
    .navbar-toggle {
      color: $gray-light;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .nav a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;

    .navbar-brand {
      color: $white;
      padding: 20px;

      &:hover,
      &:focus {
        color: $transparent-white-8;
      }
    }

    .nav a {
      color: $white;
      padding: 20px;

      &:hover,
      &:focus {
        color: $transparent-white-8;
      }
    }

    .dropdown-menu a {
      color: $gray;

      &:hover,
      &:focus {
        color: $theme-primary;
      }
    }
  }

  @media only screen and (min-width: 1170px) {
    @include prefixer(backface-visibility, hidden, webkit moz o spec);
    // Force Hardware Acceleration in WebKit
    @include transform(translate3d(0, 0, 0));
    @include transition(background-color, .3s);

    &.is-fixed {
      @include transition-property(transform);
      @include transition-duration(.3s);
      // when the user scrolls down, we hide the header right above the viewport
      background-color: $transparent-white-9;
      border-bottom: 1px solid darken($white, 5%);
      position: fixed;
      top: -61px;

      .navbar-brand {
        color: $gray-dark;

        &:hover,
        &:focus {
          color: $theme-primary;
        }
      }

      .nav a {
        color: $gray-dark;

        &:hover,
        &:focus {
          color: $theme-primary;
        }
      }
    }

    &.is-visible {
      // if the user changes the scrolling direction, we show the header
      @include transform(translate3d(0, 100%, 0));
    }
  }
}

// Header

.intro-header {
  @include background-cover;
  background: no-repeat center center;
  background-attachment: scroll;
  background-color: $gray-light;
  // NOTE: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;

  .site-heading,
  .post-heading,
  .page-heading {
    color: $white;
    padding: 100px 0 50px;

    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }

  .site-heading,
  .page-heading {
    text-align: center;

    h1 {
      font-size: 50px;
      margin-top: 0;
    }

    .subheading {
      @include sans-serif-font;
      display: block;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      margin: 10px 0 0;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }

  .post-heading {
    h1 {
      font-size: 35px;
    }

    .subheading,
    .meta {
      display: block;
      line-height: 1.1;
    }

    .subheading {
      @include sans-serif-font;
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }

    .meta {
      @include serif-font;
      font-size: 20px;
      font-style: italic;
      font-weight: 300;

      a {
        color: $white;
      }
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }

      .subheading {
        font-size: 30px;
      }
    }
  }
}

// Post Preview Pages

.post-preview {
  > a {
    color: $gray-dark;

    &:hover,
    &:focus {
      color: $theme-primary;
      text-decoration: none;
    }

    > .post-title {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    > .post-subtitle {
      font-weight: 300;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  > .post-meta {
    color: $gray-light;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;

    > a {
      color: $gray-dark;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $theme-primary;
        text-decoration: underline;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

// Article list, using in users index, article index and home index
.article-list {
  .section {
    background-color: $white;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    margin-top: 40px;
    padding: 30px;

    &:hover {
      box-shadow: 0 1px 12px 0 $shadow-color;
    }

    .row {
      height: 390px;
      margin-bottom: 10px;
      overflow: hidden;
    }
  }

  .title a {
    color: $black;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-darker;
    }
  }

  .subtitle {
    @include serif-font;
    color: $gray-light;
    font-size: 16px;
    font-style: italic;
  }

  .updated-time {
    color: $gray-light;
    font-size: 14px;
    margin-right: 25px;
  }

  .btn {
    padding: 10px 18px;
  }

  ul {
    list-style: disc;
  }
}

// Articles Show
.content-footer {
  font-size: 12px;
  text-align: right;

  em {
    color: $gray-light;
  }
}

// Comments
.article-comments {
  color: $gray;
  font-size: 15px;

  .count {
    color: $black;
    font-size: 30px;
  }

  h2 { //"add comment" title
    color: $black;
    font-size: 18px;
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 20px;
  }

  .comment-name {
    color: $theme-primary;
  }

  .comment-msg {
    font-size: 18px;
    margin: 5px 0;
  }

  .comment-del {
    font-size: 12px;
    text-align: right;
  }
}

// Sections

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 10px;
  text-align: center;
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 15px;
  padding: 10px 0 15px;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  p {
    font-size: 14px;
    margin: 10px 0;
  }
}

// Contact Form Styles

.floating-label-form-group {
  border-bottom: 1px solid $gray-lighter;
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: .5em;
  position: relative;

  input,
  textarea {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    resize: none;
    z-index: 1;
  }

  label {
    @include transition(top .3s ease, opacity .3s ease);
    display: block;
    font-size: .85em;
    line-height: 1.764705882em;
    margin: 0;
    opacity: 0;
    position: relative;
    top: 2em;
    z-index: 0;
  }

  &:not(:first-child) {
    border-left: 1px solid $gray-lighter;
    padding-left: 14px;
  }
}

.floating-label-form-group-with-value {
  label {
    opacity: 1;
    top: 0;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $theme-primary;
  }
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid $gray-lighter;
}

// Button Styles

.btn {
  @include sans-serif-font;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  //border-radius: 0;
  padding: 15px 25px;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $theme-primary;
    border: 1px solid $theme-primary;
    color: $white;
  }
}

form input[type="submit"] {
  margin-top: 12px;
  width: 100%;
}

// Pager Styling

.pager {
  margin: 20px 0 0;

  li {
    > a,
    > span {
      @include sans-serif-font;
      background-color: $white;
      border-radius: 0;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      text-transform: uppercase;
    }

    > a:hover,
    > a:focus {
      background-color: $theme-primary;
      border: 1px solid $theme-primary;
      color: $white;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      background-color: $gray-dark;
      color: $gray-light;
      cursor: not-allowed;
    }
  }
}

// Highlight Color Customization

@include selection {
  background: $theme-primary;
  color: $white;
  text-shadow: none;
}

img {
  @include selection {
    background: transparent;
    color: $white;
  }
}

textarea {
  resize: none;
}

ol {
  list-style: none;
  padding: 0;
}

.info-header-placeholder {
  @include background-image(linear-gradient(to bottom, $gray-dark 0, $gray-darker 100%));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0, enabled=false);
  height: 60px;
}

// sidebar
aside {
  section {
    border-top: 1px solid $gray-lighter;
    padding: 15px 0;
    text-align: center;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    .btn {
      margin: auto;
    }
  }

  .gravatar {
    background-color: $white;
    border: 1px solid $gray-lighter;
    border-radius: 6px;
    margin: auto;
    width: 62px;

    img {
      border-radius: 4px;
      margin: 4px;
    }

    &:hover {
      border: 1px solid $white;
      box-shadow: 0 1px 12px 0 $shadow-color;
    }
  }
}

.user-info {
  font-size: 18px;

  h1 {
    font-size: 25px;
    letter-spacing: -1px;
    margin: 30px 0 15px;
  }
}

.stats {
  font-size: 15px;
  overflow: auto;

  a {
    border-left: 1px solid $gray-lighter;
    color: $gray;
    float: left;
    padding: 0 10px;
    width: 50%;

    &:first-child {
      border: 0;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  strong {
    display: block;
    font-size: 18px;
  }
}

.user-avatars {
  margin-top: 10px;
  overflow: auto;

  .gravatar {
    margin: 1px;
  }
}

// forms
// .field_with_errors {
//   width:100%;
// }

// Users index
.user-list {
  margin: 0;

  li {
    border-top: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;

    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

// microposts
.all-articles {
  list-style: none;
  margin: 10px 0 0;

  li {
    border-top: 1px solid $gray-lighter;
    padding: 10px 0;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}
