<header class="intro-header" style="background-image: url('<%= yield(:info_bg) %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%= yield :info_header %>
            </div>
        </div>
    </div>
</header>